<div flex-wrap justify="center" class="max-sm:bg-eggplant-950 max-sm:brightness-125 w-screen">
  <div flex-wrap [column]="true" items="center" class="  max-sm:h-[82vh] h-[79.9vh]">
    <img src="robot2.png" alt="logo2" class="size-32">
    <hgroup class="text-center">
      <h1 class="text-4xl font-extrabold text-pink-500">Hello I'am StylAI !</h1>
      <p class="font-semibold text-2xl">Smart conversations, limitless possibilities—AI that learns, adapts, and inspires</p>
    </hgroup>
    <a routerLink="/chat" class="mt-8 px-3 py-1 text-lg font-semibold bg-emerald-500 text-neutral-800 hover:text-white rounded-md hover:bg-pink-500 transition-all duration-500">
      <span class="text-xl">Start Conversation</span>
    </a>
    <p class="mt-10 mx-2 rounded-lg text-lg font-semibold py-7 px-3 rainbow text-center bg-neutral-800"> Using advanced AI techniques, I can answer questions, provide explanations, engage in discussions, and complete tasks across a wide range of topics.<br/> My goal is to offer human-like interactions while leveraging vast knowledge to help users efficiently.</p>
  </div>
</div>
